.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #181c2e;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
}

.sidebar button:last-child{
    margin-top: auto;
}

.sidebar div{
    background: url('../../assets/cover.png');
    background-color: #181c2e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    padding-top: 30px;
}

.sidebar div img{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    -webkit-filter: drop-shadow(2px 3px 6px #121212);
    filter: drop-shadow(2px 3px 6px #121212);
    object-fit: cover;
}

.sidebar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255,255,255, 0.7);  
    padding: 16px;
    text-decoration: none;
    transition: ease-in-out .4s;

}   

.sidebar a svg{
    margin-right: .5em;
}

.sidebar a:hover{
    background-color: #121212;
    color: #FFF;
}

.sidebar button{
    background: none;
    color: rgba(255,255,255, 0.7);  
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 16px;
    transition: ease-in-out .4s;
    font-size: 18px;
    
}

.sidebar button:hover{
    background-color: #121212;
    color: #FFF;

}

.sidebar button svg{
    margin-right: .5em;
}

.content{
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px){
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sidebar a{
        width: 100%;
        
        display: flex;
        justify-content: center;
    }

    .sidebar div{
        display: none;
    }

    
    div.content{
        margin-left: 0;
      
    }

    .sidebar button{
        font-size: 16px;
        padding: 16px;
    
    }
 
}



