.title{
  color: #FFF;
}

.reservas{
  padding: 20px;
  margin-bottom: 10px;
  background: #FFF;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservas img{
  height: 100px;
}

.reservas button{
  border: 0;
  background: #FFF;
}

footer button{
  border: 0;
  display: flex;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: bold;
}