.about{
    @include for-phone-only {   
        width: 90%;
    }
    width: 80%;
    margin: 0 auto 40px;
    font-family: Arial, Helvetica, sans-serif;
    &__title{
        background-color: $light-grey;
        text-align: center;
        padding: 20px;

    }
    
    &__h1{
        font-size: 22px;
        color: $dark-grey;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }

   .breadcrumb{
       display: flex;
       justify-content: center;
       align-items: center;

       &__link{
        font-size: 12px;
        text-decoration: none;
        color: $dark-grey;
        &:hover{
            text-decoration: underline;
            color: $purple;
        }
       }

       &__img{
        width: 10px;
        margin: 8px;
    }
   }

   &__img{
       width: 100%;
       margin-bottom: 20px;
   }

   &__intro{
       font-weight: 100;
       color: $dark-grey;
       width: 70%;
       margin: 30px auto;
       text-align: center;
       font-size: 16px;
       @include for-phone-only {   
        width: 90%;
    }
        @include for-tablet-only {   
        width: 80%;
    }
       
   }

   &__split{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;

   }

   &__img-description{
       width: $img-width;
       @include for-phone-only {   
        width: 80%;
    }
   }

   &__txt{
       width: calc(100% - #{$img-width});
       @include for-phone-only {   
        width: 90%;
        text-align: center;
    }
       
   }

   &__p{
        font-size: 14px;
        padding: 10px;
        color: $dark-grey;
   }

}
