$purple: #a050be;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$yellow: #fabe50;
$img-width: 45%;

%no-decoration{text-decoration: none;}
%u-decoration{text-decoration: underline;}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt;
}

@mixin for-phone-only {
    @media (max-width: 767.98px) {@content;}
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199.98px) {@content;}
}

@mixin for-desktop-only {
    @media (min-width: 1200px) {@content;}
}

@function calculateRem($size){
    @return $size / 16px * 1rem;
}

@mixin  fontSize($size) {
    font-size: calculateRem($size);
}

@import 'header';

@import 'footer';

@import 'main';

@import 'about';

@import 'article';






