*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./img/back.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}

.title{
    color: #ffcc00;
    margin: 10vh auto;
    font-size: calc(5vw + 20px);
    text-shadow: 0 0 10px black 0 0 10px black 0 0 10px black;
}

.container{
    width: 90vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
   
}

.key{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #000000BB;
    color: white;
    font-size: calc(3vw + 20px);
    border: 3px solid rgba(255, 255, 255, 0.411);
    transition: .3s;
    user-select: none;
    cursor: pointer;
}

.key:hover{
    border: 3px solid rgb(255, 255, 255); 
}