
header{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    background-color: brown;
    box-sizing: border-box;

   
}

.logo{
    text-decoration: none;
    font-size: 30px;
    color:#FFF;
    cursor: pointer;
    font-weight: bold;

}

.favoritos{
    cursor: pointer;
    text-decoration: none;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color:black;
    transition: all 0.3s;
}

.favoritos:hover{
  background-color: rgb(114, 27, 27);
  color: #FFF;
}