.pagina-favoritos{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

span{
    font-size: 25px;
    font-weight: bold;
}

ul{
    padding: 0;
}

ul li {
    padding: 0;
    list-style: none;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}


button{
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
    padding: 9.5px;
    color: #000;
    transition: all 0.3s;
    background-color:#d3d3d3;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: brown;
    color: #FFF;

}

ul li a{
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
    background-color:#d3d3d3;
}

ul li a:hover{
    background-color: brown;
    color: #FFF;

}