.erro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.erro-container span{
    margin-bottom: 20px;
}


.erro-container a {

   text-decoration: none;
   color: #000;
   margin-bottom: 20px;
   background-color:#d3d3d3;
   padding: 10px;
   border-radius: 5px;
   font-weight: bold;
   transition: all 0.3s;
   
}
.erro-container a:hover {

   color: #FFF;
   background-color:brown;

   
}