.container{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    margin:15px;
    padding:15px ;
    border-radius: 5px;
}

.lista-filmes strong{
    padding-bottom: 15px;
    font-size: 22px;
}

.lista-filmes img{
    width: 800px;
    max-height: 350px;
}

.lista-filmes article a{
  
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 25px;
    text-decoration: none;
    background-color: brown;
    color: #FFF;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}